.warehouses-container {
  .warehouses-container__header-wrapper {
    margin-bottom: 20px;

    .warehouses-container__header {
      display: inline;
    }

    .warehouses-container__header-button {
    }
  }

  .warehouses-container__warehouses {
    margin: auto;
  }
}
